# Python for Absolute Beginners

------------------------------------------------------

## Built-in Data Types and Operations

- *boolean* (which have the value True or False)
- *integer* (whole numbers such as -25 and 10300)
- *float* (numbers with decimal points such as 3.14159; sometimes expressed as exponents 1.0e8)
- *strings* (sequences of characters such as 'lak19')

#### Basic Operations 

| Operator | Description      | Example | Result |
|----------|------------------|---------|--------|
| +        | addition         | 5 + 8   | 24     |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7/2     | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**4    | 81     |

### 1. The Very Basics

In [1]:
# python as calculator
3.14159 * 5

15.70795

In [2]:
# variable assignment 
radius = 5
A = 3.14159 * radius**2 
A

78.53975

In [3]:
# python supports multiple assignments
x,y = 15,24

In [4]:
print(x)
print(y)

15
24

In [5]:
# boolean data type typically arises in the context of comparison statements
3 == 3.00

True

In [6]:
"to be" in "to be or not to be that is the question"

True

In [7]:
# note that integer 5 and string "5"; making this mistake in life can have tragic consequences
5 == "5"

False

In [8]:
# we can check the type of an object. 
type(5)

int

In [9]:
type("5")

str

In [10]:
# however, python it's easily corrected with type casting
int("5")

5

In [11]:
# let's double check
type(int("5"))

int

In [38]:
# exponents

13 ** 2

169

In [37]:
# ordinary division
13 / 3

4.333333333333333

In [34]:
# integer division
13 // 3

4

In [36]:
# modulus operator
13 % 3

1

### 2. Basic String Manipulation, including Slicing

int, float, boolean are scalars; string is non-scalar (i.e. has structure) which allows us to perform operations such as slicing, extraction, and splitting

| Description    	| Example        	| Result                    	|
|----------------	|----------------	|---------------------------	|
| concatenate    	| first + last   	| 'William Shakespeare'     	|
| extract a char 	| author[4]      	| 'i'                       	|
| slice          	| author[2:7]    	| 'lliam'                   	|
| split()        	| author.split() 	| ['William','Shakespeare'] 	|

In [16]:
poet = "Francesco Petrarca"

In [17]:
# index starts at 0
poet[0]

'F'

In [20]:
# slice [start, stop]; stop is up to but not including index
poet[2:9]

'ancesco'

In [21]:
# slice [start, stop, step]; stop is up to but not including stop
poet[2:9:2]

'acso'

In [22]:
# start at second index and go all the way to the end
poet[2:]

'ancesco Petrarca'

In [23]:
# start at second index, go all the way to the end  in steps of two
poet[2::2]

'acsoPtac'

In [24]:
# we can index backwards, the third item from the item. why doesn't python use zeroth indexing when going backwards?
# is it because a foolish consistency is the hobgoblin of little minds?
poet[-3]

'r'

In [30]:
# starting at -5 and go to -1; we are not going backwards, just using negative indices
poet[-5:-1]

'rarc'

In [28]:
# but we can't time travel; this will give us a blank string; 
# the end index has to be "ahead" of the start index if we are moving forward
poet[-5:3]

'rteP ocsec'

In [31]:
poet

'Francesco Petrarca'

In [29]:
# ok this is admittedly a bit roccoco; 
# we can go backward if we use negative steps
#name[-5:4:-2]
poet[-5:4:-1]

'rteP ocse'